html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background-color: whitesmoke;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


/* custom css global */
.MuiAppBar-colorPrimary{
  background-color: tomato !important;
}

.makeStyles-root-10{
  max-width: 100%  !important;
  margin: 0 2rem;
}